[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
customtkinter = "*"
selenium = "*"
pillow = "*"
requests = "*"
pyotp = "*"
tkinterweb = "*"
beautifulsoup4 = "*"
pyinstaller = "*"
undetected-chromedriver = {git = "https://github.com/sebdelsol/undetected-chromedriver.git"}
pyperclip = "*"
asyncio = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.5"

[scripts]
app = "pipenv run python src/app.py"
build = "pyinstaller build.spec"
